.jumbotron {
    background-image: url("../img/burger.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000000;
    color: #ffffff;
    margin-top: 3%;
  }